h1{
    margin:0px 0px 0px;
    color: rgb(255, 255, 255)
}
h2{
    font-size: 25px;
    border-bottom: dotted 3px rgb(239,111,139);
}
h2::before{
    content:"•";
}
h2::before{
    color: rgb(239,111,139);
}
p{
    margin: 0px 0px 0px;
    font-size: 20px;
}
body{
    margin: 0px 0px 0px;
}
a{
    font-size: 20px;
}
header{
    margin-bottom: 20px;
    background-color: rgb(244,79,79);
    text-align: center;
}
main{
    padding: 10px 10px;
    margin: 10px 10px;

}
.contents{
    border: solid 3px rgb(238,204,204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0px;
    text-align: center;
}
.contents img{
    margin: 10px 0px;
    width: 70%;
}
.contents p:nth-of-type(2):first-letter{
    font-weight: bold;
    color: rgb(97,206,249);
}

                         
#parent{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: rgb(244,79,79);
    text-align: center;
}
footer a{
    color: rgb(255, 255, 255);
}
footer a:visited{
color: rgb(193,234,251);
}
footer a:hover{
    color: rgb(245,178,168);
}

@media screen and (max-width: 768px){
    #parent{
         flex-direction: column
    }

    h2{
        font-size: 30px;
    }
    p{
        font-size: 25px;
    }
}
